/* 幅いっぱいにする設定 */
.container {
	width: auto;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.menu i{
	font-size: 3.8em;
	margin-top: 10px;
}

/* TreeViewに関するCSS */
.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}
