@import "bower_components/bootstrap-material-design/less/material.less";

html, body {
    height: 100%;
    background-color: white;
}

body {
  padding-top: 0px;
}

/* 幅いっぱいにする設定 */
.container {
	width: auto;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.fill {
    min-height: 100%;
    height: 100%;
}

.nav-container {
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}

.menu-container {
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
  height: 100%;
  min-height: 100%;
}

.menu{
	border: 1px;
	border-color: @teal;
	border-style: solid;
}

.menu i{
	font-size: 3.8em;
	margin-top: 20px;
}

.search-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}

/* TreeViewに関するCSS */
.treeview .selected{
	color: @light-blue;
}
.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}
