@import "bower_components/bootstrap-material-design/less/material.less";

body {
  padding-top: 0px;
}

/* 幅いっぱいにする設定 */
.container {
	width: auto;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.menu{
	border: 1px;
	border-color: @teal;
	border-style: solid;
}

.menu i{
	font-size: 3.8em;
	margin-top: 10px;
}

.treeview .selected{
	color: @light-blue;
}

/* TreeViewに関するCSS */
.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}
